.authorInfo {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorInfo * {
  margin: 0;
  padding: 0;
}

.authorInfo img {
  border: 1px solid black;
}

.posts div {
  margin: 30px;
}